@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  color: white;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  background: url('/ogbackground.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 1200px;
  height: 630px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
}

.content {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 2.5rem;
}

.content > h1 {
  max-width: 80%;
  font-size: 2em;
}

.logo {
  display: flex;
  justify-content: space-between;
  font-size: 1.5em;
  align-items: center;
  font-weight: bold;
  width: 100%;
}

.tags {
  font-size: 0.4em;
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  padding: 2rem 0;
  opacity: 0.7;
}
